
body{
	background-color: #292441;
	color: #FFFFFF;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFFFFF;
  font-weight: 400;
  font-family:'Libre Baskerville', serif;
}

.purple-text {
	color: #763978;
}

.text-center {
	text-align: center;
}

.normal-font {
	font-style: normal;
}

.wrap-pad {
	margin-left: 10%;
	margin-right: 10%;
}

/* ----------------------
HEADER SECTION 
-------------------------*/
#header { 
	background-color: #763978;
	height: 50px;
	width: 100%;
	max-width: 100%;
/*	overflow: visible;*/
	position: relative;
}

header p {
	padding: 10px;
	font-style: italic;
	font-size: 22px;
	text-align: center;
	z-index: 1000;
}

/* -----------------------
PREVIEW SECTION 
---------------------------------*/
#preview {
	/*text-align: center;*/
}

#preview h2 {
	font-style: normal;
	font-weight: 400;
	/* adding this */
	letter-spacing: 0.2em;
}

#preview h3 {
	font-style: italic;
}


/* --------------------------
STARS SECTION 
----------------------------*/
#stars {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

#cynthia {
	text-align: right;
}


hr {
	border-color: #763978;
}

/* ------------------
MOVIE LOGO 
-----------------------------*/
#movie-logo {
	padding-top: 10px;
	text-align: center;
}

/* ------------------------
CO-STAR SECTION 
---------------------------------*/
#co-star {
	padding-bottom: 20px;
	/*margin-left: 35%; added to media query*/
	text-align: center;
}

#co-star h4, h3 {
	text-align: center;
}

/* -----------------------
SNEAK PEEK VIDEOS SECTION 
-------------------------------*/
#sneak-peek {
	padding-top: 10px;
	padding-bottom: 25px;
}

.purple-box {
	/*width: 560px;*/
	height: 50px;
	background-color: #763978;
}

#sneak-peek h3 {
	text-align: center;
	padding-top: 10px;
/*	margin-top: 20px; 
	padding-bottom: 20px;*/
}

/* -------------------------------
SPECIAL PRICING SECTION 
-----------------------------------*/
.big-box {
/*	width: 1155px;*/
width: 100%;
	height: 300px;
	background-color: #763978;
	border: 2px solid #292441;
	padding: 25px;
}

.special-pricing {
	margin-top: 5px;
	font-size: 30px;
}

#tickets {
	padding-bottom: 10px;
	line-height: 1.5em;
	font-size: 22px;
}

/* -----------------------
BOOK NOW BUTTON 
-------------------------------*/
.btn-primary {
	width: 300px;
	height: 50px;
	background-color: #292441;
	border-color: #292441;
}

.btn-lg {
	border-radius: 0;
}

.btn.btn-primary:hover {
	background-color: #FFFFFF;
}

.book-now h4 {
	padding: 15px;
	text-align: center;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 0;
}


#box-text {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding-top: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
	letter-spacing: .2em;
	border: 2px solid #292441;
}

#phone {
	padding-top: 20px;
	font-size: 20px;
}

/* ------------------------------
ABOUT BOOK 
----------------------------------*/
#about-book {
	padding-top: 50px;
	margin-left: 2%;
	padding-bottom: 40px;
}

.name {
	font-size: 20px;
}

#about-book p {
	/*font-size: 18px;*/
	font-size: 16px;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
	font-style: normal;
}

.indent {
	text-indent: 1em;
}

/* ---------------------------
FOOTER 
--------------------------------*/
#footer {
	background-color: #1f1b35;
	/*height: 100px;*/
	height: 130px;
	width: 100%;
	max-width: 100%;
	/*margin-bottom: 0;*/
	position: absolute;
}

/* ADDED THIS FOR FOOTER TEST*/
.container {
/*	margin: 0;*/
	padding-top: 25px;
}
/* ALSO ADDED FOR TEST*/
.container p {
	display: inline;
	vertical-align: baseline;
	text-align: center;
	margin: 0 auto;
	padding-right: 10px;
}

.container a {
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: center;
	/* testing */
	position: relative;
}

ul li {
	display: inline-block;
	padding-top: 20px;
/*	padding: 5px;*/
}

#footer p {
	word-spacing: 0.2em;
/*	display: inline-block;*/
	/*padding: 5px;*/
}

#footer .footer-info {
/*	display: inline-block;
	position: relative;*/
}

#footer a {
	color: #763978;
	/*text-decoration: underline;*/
}

.email a:link {
	text-decoration: underline;
}

#last-symbol {
	color: #FFFFFF;
}

#privacy {
	text-align: center;
	line-height: 2px;
}

#privacy a:link{
	text-decoration: underline;
}

/* ------------------------
Media Queries 
------------------------------*/
@media (max-width: 840px) {
	header p {
		font-size: 14px;
	}
}

@media (max-width: 990px) {
	#cynthia {
		text-align: center;
	}

	#jennifer {
		text-align: center;
	}

	#stars h2 {
		font-size: 22px;
	}
}

@media (max-width: 768px) {
	#preview h2 {
		font-size: 22px;
		line-height: 1.4em;
	}

	#preview h3 {
		font-size: 18px;
		line-height: 1.4em;
	}
}

@media (max-width: 414px) {
	#preview h2 {
		font-size: 20px;
	}
}

@media (max-width: 320px) {
	#sneak-peek h3 {
		font-size: 14px;
		padding-top: 20px;
	}
}

@media (max-width: 1024px) {
	#movie-logo img {
		max-width: 50%;
	}
}

@media (max-width: 480px) {
	#movie-logo img {
		max-width: 40%;
	}
}

@media (min-width: 768px) {
	#co-star {
		margin-left: 35%;
	}
}

@media (max-width: 600px) {
	.name {
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	.indent {
		text-indent: 0;
	}
}

@media (max-width: 800px) {
	.special-pricing {
		font-size: 20px;
	}
}

@media (max-width: 800px) {
	#tickets, #phone {
		font-size: 18px;
	}
}

@media (max-width: 640px) {
	.special-pricing {
		font-size: 14px;
	}

	#tickets, #phone {
		font-size: 14px;
	}
}

/* book now button */
@media (max-width: 768px) {
	.btn-primary {
		width: 150px;
		height: 30px;
	}
	/*book now text */
	#box-text h4 {
		font-size: 14px;
	}
}

@media (max-width: 1375px) {
	#about-book {
		text-align: center;
	}
}

@media (min-width: 667px) and (max-width: 736px) {
	#footer {
		height: 160px;
	}

	#footer .row {
		margin-right: 40px;
	}

/*	.email-pipe {
		display: none;
	} effecting line display*/
}

@media (min-width: 648px) and (max-width: 760px) {
  #footer ul {
    padding-left: 18%
  }
}

@media (max-width: 700px) {
	#footer ul li {
		line-height: 0.2em		
	}
}

@media (min-width: 533px) and (max-width: 603px) {
	#footer {
		height: 170px;
	}
}

@media (max-width: 460px) {
	#footer {
		height: 200px;
		width: 100%;		
	}
	#footer .row {
		margin-right: 40px;
	}
}

@media (min-width: 370px) and (max-width: 375px) {
	#footer .row {
		margin-right: 0;
	}
}













