
body{
	background-color: #292441;
	color: #FFFFFF;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFFFFF;
  font-weight: 400;
  font-family:'Libre Baskerville', serif;
}

.purple-text {
	color: #763978;
}

.text-center {
	text-align: center;
}

.normal-font {
	font-style: normal;
}

.wrap-pad {
	margin-left: 10%;
	margin-right: 10%;
}

#header {
	background-color: #763978;
	height: 50px;
	border: none;
	width: 100%;
	max-width: 100%;
}

#header p {
	padding: 10px;
	font-size: 22px;
	text-align: center;
}

/* -----------------------
PREVIEW SECTION 
---------------------------------*/

#preview h2 {
	font-style: normal;
	font-weight: 400;
	margin-top: 8px;
}

#preview h3 {
	font-style: italic;
}

#production h3 {
	line-height: 3px;
	padding-top: 10px;	
}

#scott, 
#roy, 
#oprah,
#david {
	padding-left: 10px;
}

/* --------------------------
STARS SECTION 
----------------------------*/
#stars {
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding-bottom: 40px;
}

#cynthia {
	text-align: right;
}


hr {
	border-color: #763978;
	margin: 0 140px;
}

#cynthia-first {
	margin-right: 50px;
}

#jennifer-first {
	margin-left: 20px;
}

/* ------------------
MOVIE LOGO 
-----------------------------*/
#movie-logo {
	padding-top: 10px;
	text-align: center;
}

/* ------------------------
CO-STAR SECTION 
---------------------------------*/
#co-star {
	padding-bottom: 40px;
	text-align: center;
}

#co-star h4, h3 {
	text-align: center;
}

/* -----------------------
SNEAK PEEK VIDEOS SECTION 
-------------------------------*/
#sneak-peek {
	padding-top: 40px;
	padding-bottom: 25px;
}

.purple-box {
	height: 50px;
	background-color: #763978;
}

#sneak-peek h3 {
	text-align: center;
	padding-top: 10px;
}

/* -------------------------------
SPECIAL PRICING SECTION 
-----------------------------------*/
.big-box {
	width: 100%;
	height: 300px;
	background-color: #763978;
	border: 2px solid #292441;
	padding: 25px;
}

.special-pricing {
	margin-top: 5px;
	font-size: 30px;
}

#tickets {
	padding-bottom: 10px;
	line-height: 1.5em;
	font-size: 22px;
}

/* -----------------------
BOOK NOW BUTTON 
-------------------------------*/
.btn-primary {
	width: 300px;
	height: 50px;
	background-color: #292441;
	border-color: #292441;
}

.btn-lg {
	border-radius: 0;
}

.btn.btn-primary:hover {
	background-color: #FFFFFF;
}

.book-now h4 {
	padding: 15px;
	text-align: center;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 0;
}


#box-text {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding-top: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
	letter-spacing: .2em;
	border: 2px solid #292441;
}

#phone {
	padding-top: 20px;
	font-size: 20px;
}

/* ------------------------------
ABOUT BOOK 
----------------------------------*/
#about-book {
	padding-top: 50px;
	margin-left: 2%;
	padding-bottom: 40px;
}

.name {
	font-size: 20px;
}

#about-book p {
	font-size: 16px;
	letter-spacing: 1px;
	word-spacing: 1px;
	text-align: center;
	margin-left: -35px;
}

.uppercase {
	text-transform: uppercase;
	font-style: normal;
}

.indent {
	text-indent: 1em;
}


/*--------------------------
FOOTER
------------------------------*/
#footer {
	background-color: #1f1b35;
	width: 100%;
	max-width: 100%;
	position: relative;
	text-align: center;
	padding-bottom: 30px;
}

#footer p {
	font-size: 16px;
	word-spacing: 0.2em;
}

 ul 	{
	display: inline-block;
}

#footer ul li {
	display: inline-block;
	padding-top: 15px;
	padding-right: 7px;
}

.theatre-address {
	padding-right: 10px;
	font-style: normal;
}

#theatre-icon {
/*	margin-right: -10px;*/
	margin-right: -5px;
	padding-right: 3px;
}

.pipe {
	padding-left: 7px;
}

/*#email {
	font-style: normal;
}*/
#email p {
	font-style: normal;
	margin-left: -40px;
}

 .social-icons ul li a {
	margin-left: -40px;
}

	ul.social-icons  {
	padding-left: 0;
}

/*.social-icons {
	margin-right: 20px;
	margin-left: -40px;
}*/

#footer a {
	color: #763978;
	font-size: 16px;
	text-decoration: underline;
}

#privacy {
	font-style: normal;
}

#privacy a {
	text-decoration: underline;
}


/* ------------------------
Media Queries 
------------------------------*/
/*@media (max-width: 1375px) {
	#about-book {
		text-align: center;
	}
}*/

/*@media (min-width: 1320px) {
	#about-book p {
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
	margin-left: -50px;
	}
}*/

@media (min-width: 1320px) {
	#about-book p {
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
	margin-left: -50px;
	}
}

/*@media (min-width: 1024px) and (max-width: 1280px) {
	hr {
		margin: 0px 130px;
	}
}*/

@media (min-width: @screen-lg-min) {
	hr {
		margin: 0 140px;
	}
}

@media (min-width: @screen-md-min) {
	hr {
		margin: 0 130px;
	}
}

@media (max-width: 1200px) {
	#nyc-pipe {
		display: none;
	}
	.paragraph {
		padding-top: 10px;
	}
}

@media (max-width: 1024px) {
	#movie-logo img {
		max-width: 50%;
	}
}

@media (max-width: 990px) {
	#cynthia {
		text-align: center;
	}

	#jennifer {
		text-align: center;
	}

	#stars h2 {
		font-size: 22px;
	}
	
	#cynthia-first {
		margin-right: 0;
	}
}

@media (min-width: @screen-sm-min) and (max-width: screen-max) {
	hr {
		margin: 0px 100px;
	}
}

/*@media (min-width: 800px) and (max-width: 960px) {
	hr {
		margin: 0px 100px;
	}
}*/

@media (min-width: 630px) and (max-width: 848px) { 
	#header p {
		font-size: 16px;
	}
}

@media (max-width: 800px) {
	.special-pricing {
		font-size: 20px;
	}

	#tickets, #phone {
		font-size: 18px;
	}
}

/*@media (max-width: 799px) {
	hr {
		margin: 0px 80px;
	}
}*/

@media (min-width: 768px) {
	#co-star {
		margin-left: 35%;
	}
}

/* test extra footer padding bottom */
@media (@screen-md-max) {
	#footer {
		padding-bottom: 120px;
	}
}

@media (max-width: 767px) {
	#preview h2 {
		font-size: 22px;
		line-height: 1.4em;
	}

	#preview h3 {
		font-size: 18px;
		line-height: 1.4em;
	}

	.btn-primary {
		width: 150px;
		height: 30px;
	}

	/*book now text */
	#box-text h4 {
		font-size: 14px;
	}

	#cynthia-first {
		text-align: center;
	}
}

@media (max-width: 640px) {
	.special-pricing {
		font-size: 14px;
	}

	#tickets, #phone {
		font-size: 14px;
	}

	#header p {
		font-size: 14px;
		padding: 5px;
	}
}

@media (max-width: 600px) {
	.name {
		font-size: 18px;
	}
	.indent {
		text-indent: 0;
	}
}

@media (max-width: 599px) {
		/*playing around w/pipe size */
	#theatre-pipe {
		display: none;
	}
}

/*@media (max-width: 580px) {
	#theatre-pipe {
		display: none;
	}
}*/

@media (max-width: 480px) {
	#movie-logo img {
		max-width: 40%;
	}

	#footer a {
		font-size: 14px;
	}

/*	#theatre-pipe {
		display: none;
	}*/
}

@media (max-width: 432px) {
	#sneak-peek h3 {
		font-size: 14px;
		padding-top: 20px;
	}

@media (max-width: 414px) {
	#preview h2 {
		font-size: 20px;
	}
}

/*@media (max-width: 360px) {
	.social-icons {
		margin-right: 48px;
		margin-left: -5px;
	}
	#email-pipe {
		display: none;		
	}
}*/

@media (max-width: 360px) {
	#email-pipe {
		display: none;
	}
}
